img {
    width:30%;
}

h1{
    text-align:center;
}

.body {
    width:80%; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center; 
    font-size: 120%;
}

#singlepuppyname{
    font-weight: bold; 
    font-size: 140%;
}

.body img {
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 1em;
}

.container{
    display:flex; 
    flex-wrap: wrap; 
    justify-content: center;
}

.tag {
    width:15%; 
    padding-top: 1em; 
    padding-bottom: 1em; 
    margin-left: 2em; 
    margin-right: 2em; 
    margin-top: 1em; 
    margin-bottom: 1em; 
    font-size: 140%; 
    text-align: center; 
    border: 1px solid black; 
    border-radius: 0.5em;
}

.tag:hover {
    background-color: black; 
    color: white; 
    transition:all 0.5s;
}

a {
    text-decoration: none; 
    color: black;
}

.returnbutton{
    text-align:center; 
    font-size: 140%; 
    font-weight: bold; 
    margin-top: 3em; 
    margin-bottom: 5em;
}